
<div class="main-cntainer">
    <div class="container-fluid">
        <ul class="navbar nav">         <li><a href="Home"style="text-decoration: none; " >Home</a></li>
        <li class="nav-item"><a routerLink="About"style="text-decoration: none; ">About</a></li>
        <li  class="nav-item"><a routerLink="Contact"style="text-decoration: none;">Contact</a></li>
        <li  class="nav-item">  <a routerLink="Service"style="text-decoration: none;">Service</a></li> </ul>
    </div>
</div>
<div class="component-container">
<!-- <app-home></app-home>
<app-about></app-about> 
<app-contact></app-contact>
<app-service></app-service> -->
<router-outlet></router-outlet>
</div>