<body>
    <div class="head">
    <img src="../../assets/image/gad.png" />
    <h1 style="color: white;">About Us</h1>
    </div>
    <div class="para">
        <p style="color:white;">
           <b> Gadgeon is a new-gen technology consultancy and engineering services company enabling customer’s digital journey. Gadgeon is dedicated to building solid software systems that creates business value for enterprises. Our services include Product engineering, IoT Engineering, Embedded systems – hardware & Firmware, Enterprise application – integration & modernization, Full stack development, cloud & Mobile app development, data analytics with AI & ML, testing & automation, and Professional services. Gadgeon enables our customers to fully focus on high impact business transformation initiatives while the extended team from Gadgeon takes care of all engineering and operational activities.
</b>
        </p><br>
        <p style="color:white ;">
            <b>
            Gadgeon in the last 10+ years partnered with over 70 customers with successful deployment of more than 170 projects across USA, Europe, and APAC. Over the years, we have been identified for quality and engineering excellence. We serve Enterprises, ISVs, Product companies, and fast growing startups across Digital Healthcare, Connected factories, Retail & E-Commerce, Communication, and Home & Building Automation domains.
        </b></p>
       
    </div> 
    <div class="tec">
  <h3 style="color:rgb(4, 27, 33)">  Why Gadgeon as your Technology Partner?</h3>
    <ul style="color: white;">
        <i>
    <li>    
    Domain expertise in Healthcare, Retail-E-commerce, Connected Manufacturing, Smart Home/ Building, and Communication
    <li>Commitment to quality with ISO 9001:2015 and ISO 13485:2016 certifications.</li>
    <li>Core engineering company with a culture of constant innovation with outstanding track record</li>
    <li>Flexible engagement models and willingness to invest in long term partnerships.</li></i>
</ul>
</div>

</body>