
<body>
<nav class="navbar navbar-dark bg-dark">
    <!-- Navbar content -->
    
     <!-- <div style="color:white;">
        <h4>Gadgeon Smart System</h4>
        <ul><a href="#home"style="text-decoration: none; color: white;" >Home</a></ul>
        <ul><a href="#news"style="text-decoration: none; color: white;">About</a></ul>
        <ul><a href="#contact"style="text-decoration: none; color: white;">Contact</a></ul>
        <ul><a href="#about"style="text-decoration: none;color: white;">Service</a></ul>
    </div> -->
   
</nav>
<br><br>
 <div class="img">
        <img id="im1" class="rounded" src="../../assets/image/1.png">
        <img id="im2" class="rounded"src="../../assets/image/2.jfif">
        <img id=im3 class="rounded"src="../../assets/image/3.png">

    </div>
    <div class="inf">
        <p><B>Gadgeon is a digital technology service provider enabling customer’s digital journey with solutions using new-gen technologies. Our customers are able to focus on high impact business scale up initiatives while the team from Gadgeon taking care of all engineering and operational activities. </B></p>
        
        
    </div>
</body>